*{
    font-family: Arial, Helvetica, sans-serif;
}

.loginin{
    background-image: url('/img/Background-Bundle-Graphics-49236652-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 97vh;
}


#section-login{
    background-color: rgb(255, 255, 255, 0.3);
    
    text-align: center;
    margin: 6%;
    border-radius: 16px;
    width: 20rem;
    height: 50vh;
    margin-top: 9.5rem;
}

#form-login{
    background-color: rgb(255, 255, 255, 0.3);
}

.input-login{
    background-color: rgb(255, 255, 255, 0.3);


}

.input-login:hover{
    
}

#btn-login{
    background-color: aquamarine;
}

.errorHiden{

}

.errorShow{

}